@page
@model SE256_RazorFinal_MattG.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Login Page</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="sAdmin.SongAdmin_Email"></label>
        <input asp-for="sAdmin.SongAdmin_Email" type="text" class="form-control" placeholder="Email" />
        <span asp-validation-for="sAdmin.SongAdmin_Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="sAdmin.SongAdmin_PW"></label>
        <input asp-for="sAdmin.SongAdmin_PW" type="password" class="form-control" placeholder="Password" />
        <span asp-validation-for="sAdmin.SongAdmin_PW" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

<br />
<br />
<p>Don't have an account? Contact the site administrator at <a href="mailto:matthew.gray091@outlook.com">matthew.gray091@outlook.com</a></p>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@{
    if (Model.sAdmin != null && Model.sAdmin.Feedback != null)
    {
        <h1>Results</h1>
        <p>@Model.sAdmin.Feedback</p>
    }
}